.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-purple {
    color: #5B68BE;
}
.bg-pink {
    color: #FE4181;
}
.input-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
    .err-msg {
        color: red;
        font-size: 13px;
    }
    .form-field {
        width: 100%;
    }
    .form-field-half {
        width: 49%;
    }
}

.modal-footer {
    display: flex;
    justify-content: end;
}